@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --vh: 100vh;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  height: calc(var(--vh) - 1px);
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bg.png") no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}
.glass-effect-container {
  background: rgba(194, 194, 194, 0.05);
  backdrop-filter: blur(50px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.glass-effect-container-md {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}
.glass-effect-container-md:hover {
  background: rgba(255, 255, 255, 0.5);
}
.genre-button {
  position: relative;
  top: 2px;
}
.zigzag-container {
  background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%
      ) -100px 0,
    linear-gradient(225deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%) -100px
      0,
    linear-gradient(315deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%),
    linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%);
  background-size: 200px 200px;
  background-color: rgba(255, 0, 0, 0);
}
.checks-container {
  background: repeating-conic-gradient(
    from 45deg,
    rgba(255, 255, 255, 0.05) 0% 25%,
    rgba(199, 119, 170, 0) 0% 50%
  );
  background-size: 100px 100px;
  background-color: rgba(199, 119, 170, 0);
}
.hlines-container {
  background-image: linear-gradient(
    0deg,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%
  );
  background-size: 100px 100px;
  background-color: rgba(199, 119, 170, 0);
}
.vlines-container {
  background-image: linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%
  );
  background-size: 100px 100px;
  background-color: rgba(199, 119, 170, 0);
}
.checks2-container {
  background-image: repeating-conic-gradient(
    rgba(255, 255, 255, 0.05) 0% 25%,
    rgba(199, 119, 170, 0) 0% 50%
  );
  background-position: 0 0, 77px 77px;
  background-size: 154px 154px;
  background-color: rgba(199, 119, 170, 0);
}
.dots-container {
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.05) 5px,
      transparent 5px
    ),
    radial-gradient(rgba(255, 255, 255, 0.05) 5px, transparent 5px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  background-color: rgba(199, 119, 170, 0);
}
@font-face {
  font-family: "Nexa";
  src: url("/fonts/NexaScriptDemo-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
.nexa {
  font-family: Nexa;
}
